.main-content {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #0A0A0A;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
}

.img-content {
  height: 60px;
  margin-left: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  font-family: 'Barlow', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: 1px;
  margin-right: 25vh;
  gap: 20px;
  transition: 0.5s;
}

.contact-content span {
  cursor: pointer;
}

.contact-content a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.values-contact {
  padding-top: 70px; 
  transition: 0.5s;
}

.scroll {
  height: 50px;
  transition: 1.0s;
}

.scroll .contact-content {
  transition: 1.0s;
}

.scroll .contact-content span {
  transition: 1.0s;
}

.scroll .contact-content a {
  transition: 1.0s;
}

.scroll .img-content {
  height: 30px;
  margin-left: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}
